pkgbase = archiso
	pkgdesc = System image generator.
	pkgver = 71
	pkgrel = 1
	url = https://github.com/themartiancompany/archiso
	arch = any
	license = AGPL3
	checkdepends = shellcheck
	makedepends = make
	depends = arch-install-scripts
	depends = bash
	depends = cryptsetup-nested-cryptkey
	depends = dosfstools
	depends = e2fsprogs
	depends = erofs-utils
	depends = key-gen
	depends = libarchive
	depends = libcrash-bash
	depends = libisoburn
	depends = mtools
	depends = squashfs-tools
	depends = tsu
	optdepends = archiso-profiles: extra profiles for archiso
	optdepends = edk2-ovmf: for emulating UEFI with run_archiso
	optdepends = openssl: for codesigning support when building netboot artifacts
	optdepends = qemu: for run_archiso
	source = archiso-f84a6994f092d86ba6b8f45aadbb1f07f4eb6208.zip::https://github.com/themartiancompany/archiso/archive/f84a6994f092d86ba6b8f45aadbb1f07f4eb6208.zip
	validpgpkeys = 97E989E6CF1D2C7F7A41FF9F95684DBE23D6A3E9
	sha256sums = 4a291ff97385ebc7c38af4780b8f02d2ccb18c7b3e0e3dd349ed4c348613969f

pkgname = archiso
